body{
    font-family: 'Roboto Condensed', sans-serif;
}

.navbar-brand img{
    width: 100px;
}

.navbar-collapse{
    flex-grow: unset;
}

.navbar .navbar-nav .nav-link:hover{
    background-color: rgb(202, 136, 136);
    color: black;
}

.navbar .navbar-nav .nav-link:active{
    background-color: rgb(194, 84, 84);
    color: black;
    font-weight: bold;
}

.intro{
    display: flex;
    align-items: center;
    height: 60vh;
}

.intro img{
    width: 100%;
    border-radius: 50%;
    border: 3px solid lightblue;
    overflow: hidden;
}

.name{
    font-size: 30px;
    text-align: center;

}

.position{
    font-size: 70px;
    text-align: center;
}

.location{
    font-size: 65px;
    text-align: center;
    color: red;
}

.description{
    font-size: 20px;
    text-align: center;
}

@media(max-width:756px) {
    .position{
        font-size: 35px;
        text-align: center;
    }

    .location{
        font-size: 30px;
        text-align: center;
        color: red;
    }

    .intro img{
        width: 400px;
        border-radius: 50%;
        border: 3px solid lightblue;
        overflow: hidden;
    }
}

/* Include padding and border in total box size*/
* {
  box-sizing: border-box;
}

/* Create two equal columns that float next to each other */
.column-2 {
  float: left;
  width: 45%;
  padding: 40px;
  padding-left:70px;
  padding-right: 70px;
  height: 475px;
  margin:30px;
  margin-bottom: 70px;
  background-color: #FEDE00;
  line-height:2;
}


/*  profile image */
.large-profile {
  background: url('../img/profile\ pic.PNG');
  background-size: contain;
  background-position: center;
}

 * {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.conitainer {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.columni {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .columni, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* services section styling */
.services, .teams{
    color:#fff;
    background: #111;
}
.services .title::before,
.teams .title::before{
    background: #fff;
}
.services .title::after,
.teams .title::after{
    background: #111;
    content: "what i provide";
}
.services .serv-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .serv-content .card:hover{
    background: crimson;
}
.services .serv-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card i{
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}
.services .serv-content .card:hover i{
    color: #fff;
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.galllery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  
  .col {
    height: 150px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .col img {
    max-width: 100%;
    max-height: 100%;
  }
  

